body {
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #121212;
  color: #e5e7eb;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

fieldset {
  border: 1px solid #333;
  border-radius: 5px;
  padding: 15px;
  background-color: #1f1f1f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

legend {
  font-weight: bold;
  color: #ffffff;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

#input-set {
  margin: 20px auto;
  padding: 15px;
  max-width: 600px;
  background-color: #1f1f1f;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

input[type="number"] {
  padding: 5px;
  width: 100px;
  border: 1px solid #333;
  border-radius: 3px;
  background-color: #333;
  color: #e5e7eb;
}

input[type="number"]:focus {
  outline: none;
  border-color: #3b82f6;
}

label {
  margin-left: 5px;
}

p {
  margin: 0.5em 0;
}

#results1, #results2, #results-bach, #needed-grade, #needed-grade-info {
  text-align: center;
  font-size: 1.1em;
  color: #ffffff;
  background-color: #2d2d2d;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  max-width: 600px;
}

#objective-grade {
  margin: 10px 0;
  display: block;
}

#level-selection {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 15px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #1f1f1f;
  color: #e5e7eb;
  border-top: 1px solid #333;
}

footer a {
  color: #3b82f6;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.container-fieldsets {
  display: flex;
  gap: 1px; /* Espacio entre los fieldsets */
  flex-wrap: wrap; /* Permite que se ajusten en múltiples líneas si es necesario */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  min-height: 200px; /* Altura mínima del contenedor */
}


.container-fieldsets fieldset {
  flex: 1; /* Los fieldsets se ajustarán automáticamente al ancho disponible */
  min-width: 200px; /* Ancho mínimo para asegurar que no se compriman demasiado */
  max-width: 500px; /* Ancho máximo si deseas limitarlo */
}